# python compiled files
__pycache__/
.cache
*.ipynb
*.ipynb_checkpoints
!examples/05b*.ipynb
*.pyc
*.egg-info
dist
build
.pytest_cache
.ruff_cache

# pip meta data
pip-wheel-metadata

# macOS files
.DS_Store

# IDE settings and files
.idea
.vscode

# Compressed outputs
*.pkl
*.npz
!examples/example_05_raw_expected_powers.npz

# Graphical outputs
*.png

# Documentation output
_site/
.jekyll-cache/
_build
_autosummary/
